.produtos-container {
    max-width: 1000px;
    margin: 0 auto;

    .produtos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 50px;
      // margin: 30px;
      .produto {
        padding: 10px;
        background: #fff;
        border-radius: 4px;
        transition: all 0.2s;

        .image {
          display: flex;
          justify-content: center;
      }

        .detailDiv{
          display: flex;
          .detail{
            cursor: pointer;
            width: 100%;

          }
        }


      }

      .noProducts{
        text-align: center;
        font-size: 2rem;
       }
    }
  }


  @media (max-width: 720px){
    .produtos-container {
      width: 50px;
      margin: 10px;
    }
  }


