<section class="produtos-container">
  <div>
    <div class="produtos">
      <div class="produto" *ngFor="let item of collectionProducts">
        <div class="image">
          <img [src]="item.images[0]" alt="" />
        </div>
        <div class="titulo">
          <h2>Apartamento para {{ item.pricingInfos.businessType === 'SALE' ? 'Venda' : 'Aluguel'}}</h2>
          <p class="preco">{{ item.pricingInfos.price | currency }}</p>
        </div>
        <div class="info">
          <div>
            <h2>
              {{ item.usableAreas }}
            </h2>
            <p>m²</p>
          </div>
          <div>
            <h2>
              {{ item.bedrooms }}
            </h2>
            <p>{{ item.bedrooms > 1 ? 'quartos' : 'quarto' }}</p>
          </div>
          <div>
            <h2>
              {{ item.bathrooms }}
            </h2>
            <p>{{ item.bathrooms > 1 ? 'banheiros' : 'banheiro' }}</p>
          </div>
          <div>
            <h2>
              {{ item.parkingSpaces }}
            </h2>
            <p>{{ item.parkingSpaces > 1 ? 'vagas' : 'vaga' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
