<div class="zap-container">
  <div class="banner">
    <app-slide-show [collectionImage]="product.images"></app-slide-show>
  </div>
  <div class="content">
    <app-info-product [product]="product"></app-info-product>
    <div class="address">
      <p *ngIf="product.address.neighborhood;else noNeighborhood">{{ product.address.neighborhood + ' - ' +
        product.address.city }}</p>
      <ng-template #noNeighborhood>
        <p></p>
      </ng-template>
    </div>

    <div class="pricingInfos">
      <p *ngIf="product.pricingInfos.yearlyIptu && product.pricingInfos.yearlyIptu !== '0';else noYearlyIptu">IPTU: {{
        product.pricingInfos.yearlyIptu | currency
        }}</p>
      <ng-template #noYearlyIptu>
        <p>IPTU não informado</p>
      </ng-template>
      <p
        *ngIf="product.pricingInfos.monthlyCondoFee && product.pricingInfos.monthlyCondoFee !== '0';else noMonthlyCondoFee">
        Taxa mensal do condomínio: {{
        product.pricingInfos.monthlyCondoFee | currency }}</p>
      <ng-template #noMonthlyCondoFee>
        <p>Condomínio não informado</p>
      </ng-template>
    </div>
    <hr>
    <div class="props">
      <span>Portal: </span>
      <a class="vivareal" *ngIf="portal === 'vivareal'">
        <img src="../../../assets/images/logo_vivareal.png" alt="logo vivareal">
      </a>
      <a *ngIf="portal === 'zap'">
        <img src="../../../assets/images/logo_zap.png" alt="logo zap">
      </a>
    </div>

    <div class="shared">
      <button>Favoritar</button>
      <button>Compartilhar</button>
    </div>

  </div>
</div>
