<section class="produtos-container">
  <div class="produtos" *ngIf="!loading;else load">
    <app-pagination [productsTotal]="collectionProducts.length"></app-pagination>
    <div class="produto" *ngFor="let item of products">
      <div class="image">
        <app-slide-show [collectionImage]="item.images"></app-slide-show>
      </div>
      <div class="detailDiv">
        <a class="detail" (click)="navigateProduct(item.id)">
          <app-info-product [product]="item"></app-info-product>
        </a>
      </div>
    </div>

    <div class="noProducts" *ngIf="products.length == 0">
      <p>Não foi encontrado imóvel.</p>
    </div>
  </div>
  <ng-template #load>
    <app-page-loading></app-page-loading>
  </ng-template>
</section>
