<div class="container">
  <div class="banner">
    <app-slide-show [collectionImage]="product.images"></app-slide-show>
  </div>
  <div class="content">
    <div class="titulo">
      <h2>Apartamento para {{ product.pricingInfos.businessType === 'SALE' ? 'Venda' : 'Aluguel'}}</h2>
      <p class="preco">{{ product.pricingInfos.price | currency }}</p>
    </div>
    <div class="info">
      <div>
        <h2>
          {{ product.usableAreas }}
        </h2>
        <p>m²</p>
      </div>
      <div>
        <h2>
          {{ product.bedrooms }}
        </h2>
        <p>{{ product.bedrooms > 1 ? 'quartos' : 'quarto' }}</p>
      </div>
      <div>
        <h2>
          {{ product.bathrooms }}
        </h2>
        <p>{{ product.bathrooms > 1 ? 'banheiros' : 'banheiro' }}</p>
      </div>
      <div>
        <h2>
          {{ product.parkingSpaces }}
        </h2>
        <p>{{ product.parkingSpaces > 1 ? 'garagens' : 'garagem' }}</p>
      </div>
    </div>
    <div class="address">
      <p *ngIf="product.address.neighborhood;else noNeighborhood">{{ product.address.neighborhood + ' - ' +
        product.address.city }}</p>
      <ng-template #noNeighborhood>
        <p></p>
      </ng-template>
    </div>

    <div class="pricingInfos">
      <p *ngIf="product.pricingInfos.yearlyIptu && product.pricingInfos.yearlyIptu !== '0';else noYearlyIptu">IPTU: {{
        product.pricingInfos.yearlyIptu | currency
        }}</p>
      <ng-template #noYearlyIptu>
        <p>IPTU não informado</p>
      </ng-template>
      <p
        *ngIf="product.pricingInfos.monthlyCondoFee && product.pricingInfos.monthlyCondoFee !== '0';else noMonthlyCondoFee">
        Taxa mensal do condomínio: {{
        product.pricingInfos.monthlyCondoFee | currency }}</p>
      <ng-template #noMonthlyCondoFee>
        <p>Condomínio não informado</p>
      </ng-template>
    </div>
    <hr>
    <div class="props">
      <a class="vivareal" *ngIf="portal === 'vivareal'">
        <img src="../../../assets/images/logo_vivareal.png" alt="logo vivareal">
      </a>
      <a *ngIf="portal === 'zap'">
        <img src="../../../assets/images/logo_zap.png" alt="logo zap">
      </a>
    </div>

    <div class="shared">
      <button>Favoritar</button>
      <button>Compartilhar</button>
    </div>

  </div>
</div>
