.container {
  .banner{
    height: 800px;
    display: flex;
    img {
      position: relative;
      width: 100%;
    }
  }
  .content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 1rem;
    height: calc(100vh - 800px - 5rem);
    .titulo {
      color: var(--gray-900);
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .preco {
        color: var(--yellow);
        font-weight: bold;
        font-size: 2rem;
      }
    }

    .info {
      color: var(--gray-300);
      font-weight: bold;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 1rem 0;
      div {
        text-align: center;
        h2{
          font-size: 3rem;
        }
      }
    }

    .address{
      color: var(--gray-900);
    }

    .pricingInfos{
      color: var(--gray-900);
    }
  }
}
