.container {
  .banner{
    height: 800px;
    display: flex;
    img {
      position: relative;
      width: 100%;
    }
  }
  .content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 1rem;
    height: calc(100vh - 800px - 5rem);
    .titulo {
      color: var(--gray-900);
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .preco {
        color: var(--yellow);
        font-weight: bold;
        font-size: 2rem;
      }
    }

    .info {
      color: var(--gray-300);
      font-weight: bold;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 1rem 0;
      div {
        text-align: center;
        h2{
          font-size: 3rem;
        }
      }
    }

    .address{
      color: var(--gray-900);
      font-size: 2rem;
      font-weight: bold;
      margin: 1rem 0;
    }

    .pricingInfos{
      color: var(--gray-900);
      font-size: 1.5rem;
    }

    hr {
      margin: 2rem 0;
    }

    .props {
      color: var(--gray-900);
      display: flex;
      align-items: center;

      .vivareal{
        background-color: #1190cd;
    }

    a {
        height: 50px;
        background-color: var(--white);
        padding: 5px 20px;
        border-radius: 10px;
        margin: 0 20px;
        display: flex;
    }
    }

    .shared{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
      margin: 3rem;

      button{
        height: 4rem;
        display: inline-block;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        color: var(--white);
        background-color: var(--teal-600);
        border: 1px solid var(--teal-600);
        border-radius: 0.5rem;
      }

    }
  }
}
